
.ui-nodeEditor {
    /*background-color: white;*/
    font-family: sans-serif;
    display: -webkit-box;
    -webkit-box-orient: horizontal;
}

.ui-nodeEditor-Menu {
    -webkit-box-flex: 0;
    border-radius: 10px;
    background-color: #777;
    padding: 10px;
    margin-right: 10px;
}

.ui-nodeEditor-Field {
    -webkit-box-flex: 1;
    border-radius: 10px;
    background-color: #888;
    height: 100%;
    /*top: 0px;
    left: 140px;
    bottom: 0px;
    right: 0px;
    height: 100%;*/

}

.ui-nodeEditor-Node {
    background-color: #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    border: solid 1px #222;
    width: 80px;
    height: 90px;
    margin-bottom: 10px;
    padding: 5px;
}

.ui-nodeEditor-Menu  .ui-nodeEditor-Node {
    position: relative;
}

.ui-nodeEditor-Field  .ui-nodeEditor-Node {
    position: absolute;
}
