/*
Copyright 2012 - Malcolm Dwyer
Distributed under MIT license
http://opensource.org/licenses/mit-license.php/
*/
.ui-nodeEditor {
    position: relative;
    top: 0px;
    left: 0px;
    font-family: sans-serif;
    font-size: 10pt;

    display: -webkit-box;
    -webkit-box-orient: horizontal;
    display: -moz-box;
    -moz-box-orient: horizontal;
    display: box;
    box-orient: horizontal;
}

.ui-nodeEditor-Menu {
    -webkit-box-flex: 0;
    -moz-box-flex: 0;
    box-flex: 0;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    background-color: #eee;
    padding: 10px;
    margin-right: 0px;
    overflow-y: scroll;
}

.ui-nodeEditor-Field {
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    box-flex: 1;
    border-left: solid 1px #111;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    border: 1px solid white;
    background-color: white;
    background-image: -webkit-linear-gradient(
        top,
        transparent 95%,
        rgba(0,0,0,.2) 95%,
        rgba(0,0,0,.2)
    ), -webkit-linear-gradient(
        left,
        transparent 95%,
        rgba(0,0,0,.2) 95%,
        rgba(0,0,0,.2)
    );
    /*
    background-color: #111;
    background-image: -webkit-linear-gradient(
        top,
        transparent 95%,
        rgba(255,255,255,.2) 95%,
        rgba(255,255,255,.2)
    ), -webkit-linear-gradient(
        left,
        transparent 95%,
        rgba(255,255,255,.2) 95%,
        rgba(255,255,255,.2)
    );
    */
    background-size: 20px 20px, 20px 20px;
    height: 100%;
    box-sizing: border-box;
    cursor: default;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

.ui-nodeEditor-Node {
    background-color: #ccc;
    border-radius: 5px;
    -moz-border-radius: 5px;
    box-sizing: border-box;
    /*border: solid 1px #222;*/
    width: 80px;
    /*height: 90px;*/
    margin-bottom: 10px;
    cursor: default;

    -moz-box-shadow:    1px 1px 9px black;
    -webkit-box-shadow: 1px 1px 9px black;
    box-shadow:         1px 1px 9px black;
    -webkit-transition: background-color .2s;
    -moz-transition: background-color .2s;
    transition: background-color .2s;
}

.ui-nodeEditor-Node.Busy {
    background-color: #fcc;
}

.ui-nodeEditor-Menu  .ui-nodeEditor-Node {
    position: relative;
}

.ui-nodeEditor-Field  .ui-nodeEditor-Node {
    position: absolute;
}

.ui-nodeEditor-nodeLabel {
    width: 100%;
    background-color: #333;
    color: white;
    padding-left: 4px;
    box-sizing: border-box;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    margin-bottom: 5px;
    cursor: move;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    /*border: solid 1px #eee;*/
}

.ui-nodeEditor-nodeDisplay {
    text-align: center;
    font-size: 15px;
    width: 100%;
    line-height: 18px;
    height: 18px;
    margin-bottom: 4px;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;

}

.ui-nodeEditor-nodeInput {
    text-align: left;
}

.ui-nodeEditor-nodeOutput {
    text-align: right;
}

.ui-nodeEditor-nodeIO > * {
    cursor: default;
    display: inline-block;
    margin-bottom: 4px;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

.ui-nodeEditor-nodeConnector {
    width: 10px;
    height: 10px;
    border-radius: 5px;
    border: solid 1px black;
    box-sizing: border-box;
    margin-left: 2px;
    margin-right: 2px;
    cursor: default;
}

.ui-nodeEditor-nodeInputLabel, .ui-nodeEditor-nodeOutputLabel {
    font-size: 9px;
}

.ui-nodeEditor-wire {
    position: absolute;
    z-index:  100;
    pointer-events: none;

/* testing stuff...
border: solid 5px;
border-color: black transparent transparent transparent;
border-width: 5px 5px 0px 0px;
border-radius: 0px 186px 0px 0px;
*/
}

/* lower right */
.ui-nodeEditor-wire > .wire1 {
    position: absolute;
    width: 50%;
    height: 50%;
    border-width: 3px 3px 0px 0px;
    border-style: solid;
    border-color: #fa4;
    border-top-right-radius: 100%;
    /*
    background-color: rgba(255,0,0,.1);
    */
}

.ui-nodeEditor-wire > .wire2 {
    position: absolute;
    width: 50%;
    height: 50%;
    top: 50%;
    left: 50%;
    border-width: 0px 0px 3px 3px;
    border-style: solid;
    border-color: #fa4;
    border-bottom-left-radius: 100%;
    /*
    background-color: rgba(0,0,255,.1);
    */
}

/* upper right */
.ui-nodeEditor-wire.flip > .wire1 {
    top: 50%;
    left: 0;
    border-width: 0px 3px 3px 0px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 100%;
}

.ui-nodeEditor-wire.flip > .wire2 {
    top: 0;
    left: 50%;
    border-width: 3px 0px 0px 3px;
    border-bottom-left-radius: 0;
    border-top-left-radius: 100%;
}

/* lower left */
.ui-nodeEditor-wire > .wire1.flip {
    border-radius: 0;
    border-width: 0px 3px 3px 0px;
    border-bottom-right-radius: 100%;
    top: 50%;
    left: 0;
}

.ui-nodeEditor-wire > .wire2.flip {
    border-radius: 0;
    border-width: 3px 0px 0px 3px;
    border-top-left-radius: 100%;
    top: 0;
    left: 50%;
}

/* upper left */
.ui-nodeEditor-wire.flip > .wire1.flip {
    border-width: 3px 3px 0px 0px;
    border-radius: 0;
    border-top-right-radius: 100%;
    top: 0px;
    left: 0px;
}

.ui-nodeEditor-wire.flip > .wire2.flip {
    border-width: 0px 0px 3px 3px;
    border-radius: 0;
    border-bottom-left-radius: 100%;
    top: 50%;
    left: 50%;
}


