/*
Copyright 2012 - Malcolm Dwyer
Distributed under MIT license
http://opensource.org/licenses/mit-license.php/
*/

body {
    background-color: #444;
}

body > .nodeEditor {
    margin: 30px;

    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
}
